<header>
  <nav class="mobile-nav">
    <ul class="mobile-menu-list">
      {% set header = craft.entries.section('header').one() %}
      {% set navItems = header.headerNav.all() %}
      {% for item in navItems %}
        {% set target = item.urlNav.one() %}
        {% if target %}
          <li class="mobile-menu-item">
            <a href="{{ target.url }}">
              {{ item.labelNav ?: target.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>

