.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    
}
 
.text-section {
    margin: 2rem 0;
}
    
.text-section__title {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
}
 
.text-section__text {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
}
 
.cards-section__title {
    font-size: 2rem;
    text-align: center;
    margin: 2.5rem 0 1.5rem;
}
 
.experts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-bottom: 2.5rem;
    margin: 2rem 10%;
}
 
.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;
}
 
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 2px solid #81878184;
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    padding-top: 1rem;
}
 
.card__image {
    width: 40%;
    height: auto;
    border-radius: 0.5rem;
    margin: 1rem 2rem;
}
 
.card__title {
    font-size: 1.125rem;
    margin: 0.5rem 0;
}
 
.card__text {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}
 
.team-grid {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
 
.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 2px solid #81878184;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
 