.hero__title2 {
    text-align: left;
    margin: 6rem 8rem;
    font-size: 3rem;
}

.hero__contact {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: #333;
    margin: auto;
    width: 90%;
    margin-bottom: 7rem;
}

.event-title {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group input {
    width: 100%;
}

body.mariahuis {
    .form-button {
        border: none;
        background-color: #28a745;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: #28a745a7;
    }
}

  body.sintcoleta {
    .form-button {
        border: none;
        background-color: #754326;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: #754326a7;
    }
  }

  body.cultuurcolette {
    .form-button {
        border: none;
        background-color: #754326;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: #754326a7;
    }
}

.evenents {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 4rem;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 90%;
    margin-bottom: 7rem;
}
.event-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
        width: 90%;
        height: auto;
        border-radius: 0.5rem;
    }
}

@media (max-width: 768px) {
    .hero__contact {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        gap: 2rem;
    }

    .evenents {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        gap: 2rem;
    }

    .map-embed iframe {
        width: 100%;
        height: 250px;
        margin-bottom: 3rem;
    }
}