header {
    align-items: center;
    padding: 2rem 2rem;
    background-color: #333;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}