@import url('components/_header.css');
@import url('components/_footer.css');
@import url('components/_base.css');
@import url('components/_hero.css');
@import url('components/_about.css');

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}