@import url('variables.css');
@import url('components/header.css');
@import url('components/footer.css');
@import url('components/hero.css');
@import url('components/about.css');
@import url('components/contact.css');
@import url('components/diensten.css');
@import url('components/meewerken.css');
@import url('components/gallery.css');
@import url('components/verhuur.css');
@import url('components/projects.css');
@import url('components/wonen.css');


body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: lch(21.25% 0 296.81);
  margin: 0;
  padding: 0;
}