@import url('reset.css');


@import url('components/header.css');
@import url('components/footer.css');
@import url('components/hero.css');
@import url('pages/about.css');
@import url('pages/contact.css');
@import url('pages/diensten.css');
@import url('pages/meewerken.css');
@import url('pages/gallery.css');
@import url('pages/verhuur.css');
@import url('pages/projects.css');
@import url('pages/wonen.css');


body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: lch(21.25% 0 296.81);
  margin: 0;
  padding: 0;
}