<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ entry.title }}</title>


</head>
<body>
    {% include '_partials/_nav.twig' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include '_partials/_footer.twig' %}
</body>
</html> 