<div>
    {% if entry.maps %}
        <div class="map-embed">
            <iframe src="{{ entry.maps }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    {% endif %}
</div>