{% extends '_layouts/_base.twig' %}

{% block content %}
<<<<<<< Updated upstream
    <h1>{{ entry.introTitle }}</h1>
    <p>{{ entry.introText }}</p>
=======
    <section>
        <h1>{{ entry.introTitle }}</h1>
        <p>{{ entry.introText }}</p>
    </section>
>>>>>>> Stashed changes
{% endblock %}